/* Subtitle text styling */
.subtitle {
  color: var(--color-gray-600);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  height: 3rem;
}

.dark .subtitle {
  color: var(--color-gray-400);
}
