.pricing-card-container {
  display: flex;
  flex-direction: row;
  height: 80%;
}

@media (max-width: 1220px) {
  .pricing-card-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .pricing-card-container {
    flex-direction: column;
  }
}
