.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-violet-950);
}

.dark .title {
  color: var(--color-violet-50);
}

.title-highlight {
  color: var(--color-violet-600);
}

.dark .title-highlight {
  color: var(--color-violet-500);
}
