/* Default styles for the icon (light mode) */
.icon-yes {
  color: var(--color-violet-500);
  transition: color 0.3s ease; /* Smooth transition for hover effect */
  height: 2rem;
  width: 2rem;
}

/* Hover effect for light mode */
.pricing-card:hover .icon-yes {
  color: var(--color-violet-100);
}

/* Dark mode styles */
.dark .icon-yes {
  color: var(--color-violet-400);
}

/* Hover effect for dark mode */
.pricing-card:hover .dark .icon-yes-hover {
  color: var(--color-violet-200);
}
